@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&display=swap');/* google fonts  */

.navText
{
    font-family: 'Fira Code', monospace;
    
}
.headline
{
    font-family: 'Inter', sans-serif;
}

.skills
{
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 3px 10px;
    padding: 0px;
    overflow: hidden;
   
}

